{
	"root": true,
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"eqeqeq": 0,
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			1,
			"double"
		],
		// override default options for rules from base configurations
		"comma-dangle": [
			0,
			"always"
		],
		"no-cond-assign": [
			"error",
			"always"
		],
		// disable rules from base configurations
		"no-console": "off",
		"semi": [
			1,
			"always"
		],
		"curly": [
			2,
			"all"
		],
		"no-var": "off",
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-else-return": 1,
		"space-unary-ops": 2
	},
	"env": {
		"browser": true,
		"node": true
	}
}
